<div class="main-container" id="mp-publication-container">
  <div class="container-top-bar">
    <h1>Publication</h1>
  </div>
  <div class="container-fluid ">
    <div *ngIf="pageStatus === 1" class="publication-detail-content">
      Loading ...
    </div>
    <div *ngIf="!publication && pageStatus === 0" class="publication-detail-content">
      <p>Publication not found!</p>
    </div>
    <div *ngIf="publication" class="publication-detail-content">
      <div class="row">
        <div class="col-12">
          <span class="btn-back" (click)="goBack()"><i class="fas fa-chevron-left"></i> Back</span>
        </div>
        <div class="col-12">
          <app-publication-detail [publication]="publication"></app-publication-detail>
        </div>
      </div>
    </div>
  </div>
</div>