
// Varibles
$font-family: 'Roboto';

// Colors
$main-color: #1ABB9C;
$main-color-dark: #2A3F54;
//$main-color-darker: #172D44;

//$black-color: #222d32;
//$black-color-dark: #1e282c;

$gray-color: #E7EDF3;
$gray-color-dark: #E6E9ED;


$text-color: #738796;

$dashboard-background: #F7F7F7;
// .----