@import 'assets/scss/_variables.scss';


#mp-dashboard-container {
  #mp-dashboard-content {
    padding-top: 105px;
    @media (min-width: 768px) {
      margin-left: 60px;
    }
    @media (min-width: 992px) {
      margin-left: 220px;   
      padding-top: 50px; 
    }
    background-color: $dashboard-background;
  }
}