@import 'assets/scss/_variables.scss';

#mp-publications-container {
  padding: 15px 0;
  .mp-publications-list-container,
  .mp-publications-result-container {
    padding: 15px 0px;
  }
  .total-info {
    font-weight: 300;
  }
  .perview-switch {
    span {
      font-weight: 300;
      cursor: pointer;
      &.active,
      &:hover {
        font-weight: 700;
      }
    }
  }
}