<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mt-3 mb-3"><%= title %></h1>
          <hr>
          <h5 class="mb-3">Documentation:</h5>
          <p><a href="/apidoc">ApiDocs</a></p>
          <p><a href="/apidoc-swagger">Swagger</a></p>
          <hr>
          <ul>
            <li>a7809 - Tiago Silva</li>
            <li>a15060 - Luís Castro</li>
            <li>a15061 - Filipe Ribeiro</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
