<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>API docs: <a href="/api/v1/api-docs">Here</a></p>
    <hr>
    <ul>
      <li>Filipe Ribeiro (a15061)</li>
      <li>Luís Castro (a15060)</li>
      <li>José Torres (a14487)</li>
    </ul>
  </body>
</html>
